{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load ratings %}
{% load urlfy %}
{% load sidebar %}
{% load hitcount_tags %}
{% load nice_username %}


{% block meta_title %}{{ instance.title }}{% endblock meta_title %}


{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ PORTAL_URL }}{% static "hitcount/jquery.postcsrf.js" %}"></script>
<p style="color: white;">{% insert_hit_count_js for instance %}</p>
{% get_hit_count for instance as total_hits %}
<div class="row justify-content-center">
<div class="col-12 col-md-8">
<!-- Spinner -->
	{% include "spinner.html" %}

{% if request.user == instance.user or request.user.is_staff or request.user.is_superuser %}
<br>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link btn btn-warning" href="{% url "posts:posts_update" instance.slug %}" id="button-sp-detail">{% trans "Edit" %}</a>
  </li>
  <li class="nav-item ml-3">
    <a class="nav-link btn btn-danger" href="{% url "posts:posts_delete" instance.slug %}" id="button-sp-detail_1">{% trans "Delete" %}</a>
  </li>
</ul>
<br>
{% endif %}
<h3>{{ title }}
	<br>

	<small>
	<i class="fa fa-calendar" aria-hidden="true"></i> {{ instance.datetime_stamp }}</small></h3>

	{% if instance.updated > instance.datetime_stamp %}
	<p class="text-secondary"><strong>{% trans "Updated" %}: {{ instance.updated }}</strong></p>
	{% endif %}

	{% if instance.draft %}<span style="color:red">{% trans "Draft" %}</span><br>{% endif %}
	{% if instance.publish > today %}<span style="color:red">Future Post</span><br>{% endif %}
	{% if instance.image %}
	<p><img src="{{ instance.image.url }}" class="img-thumbnail"></p>
	{% endif %}
	{% if instance.category %}
	<p><i class="fa fa-book" aria-hidden="true"></i> {{ instance.category }} |
	{% endif %}


	<i class="fa fa-pencil-square-o" aria-hidden="true"></i> <a href="{% url "profile_users" instance.user.username %}"> {{ instance.user|nice_username }}</a>
	{% if not instance.draft and not instance.publish > today %}

	| <i class="fa fa-eye" aria-hidden="true"></i> {{ total_hits }}
	{% endif %}
	</p>


	{% if instance.read_time <= 1 %}<p class="text-success">{% blocktrans %}< 1 minute read{% endblocktrans %}</p>
	{% elif instance.read_time < 10 %}<p class="text-success">{% blocktrans %}< 10 minutes{% endblocktrans %}</p>
	{% else %}<p class="text-success">{% blocktrans %}{{ instance.read_time }} minutes read{% endblocktrans %}</p>
	{% endif %}

	{% if not instance.draft and not instance.publish > today %}
	<p>{% ratings instance %}</p>
	{% endif %}


	{% if instance.tag.all %}
	<p>{% trans "Tags" %}:
	{% for tags in instance.tag.all %}
	<a href="" class="badge badge-dark">{{ tags }}</a>
	{% endfor %}
	</p>
	{% endif %}

	<!-- Social Sharing -->
	<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
	<hr>
	<div class="content-item">{{ instance.get_markdown }}</div>
	<br>
	<hr>


	<!-- Facebook Comments -->
	<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
	<hr>
</div>

	<!-- A navigation sidebar -->
	<div class="col-12 col-md-4">
		{% sidebar_nav %}
	</div>
</div>

{% get_hit_count_js_variables for instance as hitcount %}
<script type="text/javascript">
jQuery(document).ready(function($) {

  $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
    .done(function(data){
      $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
      $('#hit-response').text(data.hit_message);
  }).fail(function(data){
      console.log('POST failed');
      console.log(data);
  });
});
</script>


{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}