{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block meta_title %}
{% if instance == None %}{% trans "Create a Post" %}{% else %}{% trans "Update a Post" %}{% endif %}
{% endblock meta_title %}



{% block content %}
<div class="row justify-content-center">
<div class="col-6">
{% if instance == None %}
<h2>Create a Post</h2>
{% else %}
<h2>Update a Post</h2>
{% endif %}
<hr>

<form method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
	

{{ form|crispy }}

{% if instance == None %}
	<input type="submit" value="Create a Post" name="create">
{% else %}
	<input type="submit" value="Update a Post" name="update">
{% endif %}
</form>
</div>
<div class="col-6">
	<h2>{% trans "Preview" %}</h2>
	<hr>
	<h3 id="preview-title"></h3>
	<p id="preview-content"></p>
</div>



</div>
{% endblock content %}