{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load sidebar %}
{% block meta_title %}{% trans "Delete Post" %}{% endblock meta_title %}

{% block content %}
<div class="row justify-content-center">
<div class="col-8">
<h3>{% trans "Delete Post" %}</h3>
<hr>
<br>
<form action="{% url "posts:posts_delete" instance.slug %}" method="post">
	{% csrf_token %}
	<p>Do you really want to delete "{{ title }}" ?</p>
	<button type="submit" class="btn btn-danger" name="delete_button">{% trans "Yes" %}</button>
	<a href="{%  url "posts:posts_list" %}" class="btn btn-secondary ml-3" role="button">{% trans "No"%}</a>
	<br>
</form>
</div>
<div class="col-12 col-md-4">
	{% sidebar_nav %}
</div>
</div>
{% endblock content %}
