{% extends "base.html"%}
{% load i18n %}
{% load sidebar %}
{% get_current_language as LANGUAGE_CODE %}
{% block meta_title %}{% trans "Archive" %}{% endblock meta_title%}

{% block content %}
<div class="row justify-content-center">
<div class="col-6">
<h3>{% trans "Archive" %}</h3>
<hr>
<br>

<ul>
    {% for post in object_list %}
    {% if LANGUAGE_CODE == 'uk' %}
    	<li>{{ post.publish|date:"j E, Y" }}: 
    	<a href="{% url "posts:posts_detail" post.slug %}">{{ post.title }}</a></li>
    {% else %}
        <li>{{ post.publish|date:"F j, Y" }}: 
        <a href="{% url "posts:posts_detail" post.slug %}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<p>
    {% if previous_month %}
        {% trans "Previous Month" %}: <a href="{% url "posts:archive_month_numeric" previous_month|date:"Y" previous_month|date:"m" %}">{{ previous_month|date:"F Y" }}</a> 
    {% endif %}
    {% if next_month %}
        {% trans "Next Month" %}: <a href="{% url "posts:archive_month_numeric" next_month|date:"Y" next_month|date:"m"%}">{{ next_month|date:"F Y" }}</a> 
    {% endif %}
</p>
</div>
<div class="col-4">
	{% sidebar_nav %}
</div>
</div>
{% endblock content %}