{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block meta_title %}{% trans "Delete Post" %}{% endblock meta_title %}

{% block content %}
<div class="row justify-content-center">
<div class="col-6">
<form action="{% url "posts:posts_delete" instance.slug %}" method="post">
	{% csrf_token %}
	<p>Do you really want to delete "{{ instance.title }}" ?</p>
	<button type="submit" class="btn btn-danger" name="delete_button">{% trans "Yes" %}</button>
	<br>
</form>
</div>
</div>
{% endblock content %}
