{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load ratings %}
{% load sidebar %}
{% load pagenav %}
{% load hitcount_tags %}
{% load nice_username %}

{% block meta_title %}The List of Posts{% endblock meta_title %}


{% block content %}
<div class="row justify-content-center">
<div class="col-8">
<div class='infinite'">
	<!-- Social sign in -->
	{% if not user.is_authenticated %}
		{% include "social_sign_in.html" %}
		<hr>
	{% endif %}
	<br>
	<!-- Spinner -->
	{% include "spinner.html" %}
  	<!-- A list of posts -->
	{% for obj in object_list %}
	<div class="infinite-item"}>
	<!-- Post is a draft or/and a a future post --> 
	{% if obj.draft %}<span style="color:red;">{% trans "Draft"%}</span><br>{% endif %}
	{% if obj.publish > today %}<span style="color:red;">{% trans "It`s a Future Post" %}</span>{% endif%}

	<!-- Post title -->
	<h3><a href="{{ obj.get_absolute_url }}" id="button-spinner3">{{ obj.title }}</a></h3>


	<!-- Post datetime stamp -->
	<p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ obj.datetime_stamp|timesince }} {% trans "ago" %} | 

	<!-- Post category -->
	{% if obj.category %}<i class="fa fa-book" aria-hidden="true"></i> {{ obj.category }}|{% endif %} 

	<!-- Post author -->
	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>  <a href="{% url "profile_users" obj.user.username %}">{{ obj.user|nice_username }}</a>
	

	{% if not obj.draft and not obj.publish > today %}
	<!-- Post views -->
	{% get_hit_count for obj as hit %}
	 | <i class="fa fa-eye" aria-hidden="true"></i> {{ hit }}
	{% endif %}
	</p>

	<!-- Post datetime updated stamp -->
	{% if obj.updated > obj.datetime_stamp %}
	<p class="text-secondary"><strong>{% trans "Updated" %}: {{ obj.updated|timesince }} {% trans "ago" %}</strong></p>
	{% endif %}

	<!-- Post reading time -->
	{% if obj.read_time <= 1 %}<p class="text-success">{% blocktrans %}< 1 minute read {% endblocktrans %}</p>
	{% elif obj.read_time < 10 %}<p class="text-success">{% blocktrans %}< 10 minutes read{% endblocktrans %}</p>
	{% else %}<p class="text-success">{% blocktrans %}{{ obj.read_time }} minutes read{% endblocktrans %}</p>
	{% endif %}
	
	<!-- Post star ratings -->
	{% if not obj.draft and not obj.publish > today %}
	<p>{% ratings obj %}</p>
	{% endif %}
	
	
	<!-- Post image -->
	{% if obj.image %}
	<a href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" class="img-thumbnail" id="button-spinner4"></a>
	{% endif %}

	<!-- Post content -->
	<div class="content-item">
		<br>
	{{ obj.get_markdown|truncatechars:120 }}
	</div>
		<br>
	<ul class="nav">
	<!-- The view button -->
	<li class="nav-item">	
		<a class="btn btn-info" href="{{ obj.get_absolute_url }}" title="{{ obj.title }}" role="button" id="button-spinner">{% trans "View" %}</a>
	</li>
	<!-- Edit or Delete buttons -->
	{% if request.user == obj.user or request.user.is_staff or request.user.is_superuser %}
  	<li class="nav-item ml-3">
    	<a class="nav-link btn btn-warning" href="{% url "posts:posts_update" obj.slug %}" id="button-spinner2">{% trans "Edit" %}</a>
  	</li>
  	<li class="nav-item ml-3">
    	<a class="nav-link btn btn-danger" href="{% url "posts:posts_delete" obj.slug %}" id="button-spinner1">{% trans "Delete" %}</a>
  	</li>
	</ul>
	{% endif %}
	
	</div>
	<hr>
	<br>
	<!-- If no posts in a list -->
	{% empty %}
	<p>Sorry, there are no posts here..</p>
	{% endfor %}

	<br>

<!-- A posts list pagination -->
{% pagenav object_list is_paginated paginator %}
	<br>
</div>
	
</div>
	<!-- A navigation sidebar -->
	<div class="col-12 col-md-4">
	{% sidebar_nav %}
	</div>
	
</div>
{% endblock %}