{% extends "base.html" %}
{% load i18n %}
{% load sidebar %}

{% block meta_title %}{% blocktrans %}Posts with a tag {{ tag }}{% endblocktrans %}{% endblock meta_title %}

{% block content %}
<div class="row justify-content-center">
<div class="col-6">
<p>{% blocktrans %}Posts with a tag: {{ tag }}{% endblocktrans %}</p>
{% for post in posts %}
	<p><a href="{% url "posts:posts_detail" post.slug %}">{{ post.title }}</a></p>
{% empty %}
<p>Sorry, there are no posts here...</p>
{% endfor %}
</div>
<div class="col-4">
	{% sidebar_nav %}
</div>
</div>
{% endblock content %}

