{% extends "base.html" %}
{% load i18n %}
{% load sidebar %}
{% block meta_title %}{% trans "Registration is closed" %}{% endblock meta_title %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-12 col-md-8">
		<h3>{% trans "Registration is closed" %}</h3>
		<hr>
			<div class="alert alert-secondary">
				<p style="text-align: center;">
    			{% trans "Sorry, but registration is closed at this moment. Come back later." %}
				</p>
			</div>
	</div>
	<div class="col-12 col-md-4">
			{% sidebar_nav %}
	</div>
</div>
{% endblock %}
