{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block meta_title %}{% trans "Live Chat" %}{% endblock %}


{% block content %}
<div class="row justify-content-center">
<h3>{% trans "Online Chat" %}</h3>
</div>
<hr>
<br>
 <div class="row">
            <div class="col-3 pre-scrollable">
                <em>
                <span class="text-success" id="loggedin-users-count">0</span>
                <span id="users-online">{% trans "users are online" %}</span>
                <br>
                <span class="text-success" id="lurkers-count">0</span> 
                <span id="lurkers-online">{% trans "onlookers are online" %}</span>
                </em>

                <ul class="list-group" id="user-list">
                    <li class="list-group-item">{% trans "No users here" %}</li>
                </ul>
            </div>
            <div class="col-9 text-left pre-scrollable" id="all_messages">
                <div class="invisible" id="last_message_id">{{ first_message_id }}</div>
                    {% if first_message_id > 0 %}
                        <div class="text-center mb-3"><button id="load_old_messages" class="btn btn-success btn-block">{% trans "Load old messages" %}</button></div>
                    {% endif %}
                <ul class="list-group" id="chat">
                    
                    {% for message in chat_messages %}
                        <li class="list-group-item">
                        <strong>{{ message.user }} : </strong>
                        {{ message.message_html|safe }} 
                        </li>
                    {% empty %}
                    <div id="no_messages">{% trans "No messages here" %}</div>
                    {% endfor %}
                </ul>
            </div>
        </div>

        </br>

        <div class="row justify-content-center">
            <form  class="form-inline" id="chatform" autocomplete="off">
            <div class="form-group ml-5">
               
                    {% if user.is_authenticated %}
                    <input id="message" type="text" class="form-control" placeholder="{% trans "Type chat message here" %}" required>
                    {% else %}
                    <input class="form-control" id="disabledInput" type="text" placeholder="{% trans "Please login to chat" %}" disabled>
                    {% endif %}
          </div>

                    <button id="go" type="submit" class="btn btn-info ml-3">{% trans "Send" %}</button>
            </form>
             </div>
        </div>

    <br />
    <br />

</div>

{% endblock %}
